<@- include('include/_header.ejs', 
  {
    data:{
      title:"annie",
      css:["css/app.css"]
    }
  });
@>
<body data-controller="indexController">
  <h1 style="padding: 0.5rem 0; text-align:center; ">Hello world!</h1>
</body>
<@- include('include/_footer.ejs', { data: {main: 'modules/index/index'}}); @>
